@model AspNetCoreSample.ViewModels.CandidateListViewModel

@{
    Layout = "_Layout";
}

<h1>@Model.Header</h1>

@foreach (var candidate in Model.Candidates)
{
    <div>
        <h1>@candidate.FirstName @candidate.LastName</h1>
        <h2>@candidate.Description</h2>
        <h2>@candidate.Specialisation.Name</h2>
    </div>
}
