@model CandidateListViewModel

<h1>@Model.Header</h1>

@foreach (var candidate in Model.Candidates)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@candidate.ImageThumbnailUrl"  alt="No Photo">
            <div class="caption">
                <h3 class="pull-right">@candidate.Rating.ToString("c")</h3>
                <h3>
                    <a asp-controller="Candidate" asp-action="Details" asp-route-id="@candidate.Id">@candidate.LastName @candidate.FirstName</a>
                </h3>
                <p>@candidate.Description</p>
            </div>
        </div>
    </div>
}
